In [7]:
import pandas as pd

In [8]:
books=pd.read_csv(r"C:\Users\Sky\Videos\codes\book_recommend\Books.csv")

C:\Users\Sky\AppData\Local\Temp\ipykernel_3892\2478538538.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv(r"C:\Users\Sky\Videos\codes\book_recommend\Books.csv")

In [229]:
ratings=pd.read_csv(r"C:\Users\Sky\Videos\codes\book_recommend\Ratings.csv")
users=pd.read_csv(r"C:\Users\Sky\Videos\codes\book_recommend\Users.csv")

In [10]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [11]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [230]:
ratings.describe()

            User-ID   Book-Rating
count  1.149780e+06  1.149780e+06
mean   1.403864e+05  2.866950e+00
std    8.056228e+04  3.854184e+00
min    2.000000e+00  0.000000e+00
25%    7.034500e+04  0.000000e+00
50%    1.410100e+05  0.000000e+00
75%    2.110280e+05  7.000000e+00
max    2.788540e+05  1.000000e+01

In [12]:
users

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [13]:
#merge the books and ratings dataframes to access the names of the books

In [140]:
df=pd.merge(books,ratings,on='ISBN')

In [141]:
new_df=df[['User-ID','Book-Title','Book-Rating']]

In [188]:
import gc
del(books,ratings)
gc.collect()

4672

In [142]:
new_df=new_df[0:100000]

In [143]:
ans=new_df.groupby('Book-Title').count()
count=ans['User-ID'].sort_values(ascending=False)

In [144]:
#lets take books that have only been rated 100 times or higher

In [145]:
count[count>100]

Book-Title
Wild Animus                                             2502
The Lovely Bones: A Novel                               1295
The Da Vinci Code                                        883
Divine Secrets of the Ya-Ya Sisterhood: A Novel          732
The Red Tent (Bestselling Backlist)                      723
                                                        ...
Smilla's Sense of Snow                                   103
Forever... : A Novel of Good and Evil, Love and Hope     102
Eyes of the Dragon                                       102
The Princess Diaries                                     102
Pet Sematary                                             101
Name: User-ID, Length: 270, dtype: int64

In [146]:
#lets take books that have only been rated 50 times or higher because 100 might be too small

In [147]:
ans=count[count>50]

In [148]:
cols=list(ans.index)

In [149]:
new_df=new_df

In [150]:
#we are first going to carry out a user based recommender and then a ratings based recommender

In [163]:
pivot=pd.pivot_table(data=new_df,index=['Book-Title'],columns=['User-ID'],values='Book-Rating')

In [158]:
#Lets use users that have rated at least 100 movies

In [169]:
ans=new_df.groupby('User-ID').count()
ans

         Book-Title  Book-Rating
User-ID
2                 1            1
8                17           17
9                 3            3
10                1            1
12                1            1
...             ...          ...
278813            1            1
278819            1            1
278832            1            1
278843            9            9
278851            2            2

[28377 rows x 2 columns]

In [170]:
count=ans['Book-Title'].sort_values(ascending=False)
count

User-ID
11676     680
35859     274
16795     206
76352     204
153662    201
         ...
152957      1
152960      1
152961      1
57225       1
2           1
Name: Book-Title, Length: 28377, dtype: int64

In [174]:
users=count[count>50]#this would mean that we can only make recommendations for people who have rated more than 50 books, really not good.

In [175]:
cols0=list(users.index)

In [176]:
pivot=pivot[cols0]

In [177]:
pivot

User-ID,11676,35859,16795,76352,153662,60244,204864,232131,238120,230522,...,104665,224764,246655,212923,209373,168064,252071,277427,63938,107784
Book-Title,,,,,,,,,,,,,,,,,,,,,
101 Dalmatians,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11th Hour,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"14,000 Things to Be Happy About",7.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,0.0,NaN,8.0,NaN,NaN,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,10.0,7.0,9.0,0.0,0.0,NaN,NaN,8.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Your Erroneous Zones,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zeit im Wind.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen in the Art of Archery (Vintage Spiritual Classics),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zlateh the Goat and Other Stories,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
stardust,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [180]:
corr0=pivot.corr()

In [182]:
corr0

User-ID,11676,35859,16795,76352,153662,60244,204864,232131,238120,230522,...,104665,224764,246655,212923,209373,168064,252071,277427,63938,107784
User-ID,,,,,,,,,,,,,,,,,,,,,
11676,1.000000,0.026127,0.124363,-0.021111,-0.050283,-0.061518,-0.072225,-0.023444,-0.176880,-0.092875,...,-0.024265,-0.218373,0.064783,0.023641,0.026513,0.005485,0.090144,-0.041185,0.084721,-0.310855
35859,0.026127,1.000000,0.181624,0.292341,0.332604,0.294891,0.046663,0.127047,0.071664,0.047562,...,0.167702,0.062359,-0.058824,-0.009802,-0.152539,-0.118813,0.299947,0.019504,-0.050000,-0.019134
16795,0.124363,0.181624,1.000000,0.220569,-0.094308,0.135837,0.042302,0.058821,-0.082394,0.192590,...,0.011808,-0.094029,NaN,-0.263982,0.205456,0.121673,0.266418,-0.043297,0.130198,0.234347
76352,-0.021111,0.292341,0.220569,1.000000,0.330277,0.194154,-0.072340,0.387638,-0.096580,0.205465,...,NaN,0.215784,NaN,0.415516,NaN,NaN,NaN,-0.128211,NaN,-0.128869
153662,-0.050283,0.332604,-0.094308,0.330277,1.000000,-0.001431,-0.095571,0.474491,0.228544,-0.070298,...,0.391331,0.039049,NaN,-0.135625,-0.232978,0.050928,-0.297933,0.194142,-0.127882,0.257250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168064,0.005485,-0.118813,0.121673,NaN,0.050928,-0.298090,0.229107,NaN,-0.097590,0.258348,...,NaN,-0.188982,NaN,NaN,0.114245,1.000000,NaN,-0.221022,NaN,0.446582
252071,0.090144,0.299947,0.266418,NaN,-0.297933,0.204086,0.136232,0.148438,0.086913,NaN,...,-0.573336,0.904194,NaN,0.596040,NaN,NaN,1.000000,-0.407076,NaN,-0.249081
277427,-0.041185,0.019504,-0.043297,-0.128211,0.194142,0.042890,-0.061408,-0.021208,-0.080845,0.452864,...,1.000000,-0.432338,NaN,-0.316228,0.286408,-0.221022,-0.407076,1.000000,NaN,0.328190
63938,0.084721,-0.050000,0.130198,NaN,-0.127882,0.492624,-0.188842,-0.189813,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN
107784,-0.310855,-0.019134,0.234347,-0.128869,0.257250,-0.361902,-0.057929,0.582259,-0.237486,0.512837,...,0.405889,-0.358849,NaN,-0.570352,0.242633,0.446582,-0.249081,0.328190,NaN,1.000000

In [183]:
#in a user based system similar users are used to recommend
#problem with this method in our case is that not many users vote abd so we would be left with very sparse data.

In [184]:
#ratings based

In [189]:
table=pd.pivot_table(data=new_df,columns=new_df['Book-Title'],index=new_df['User-ID'],values='Book-Rating')

In [190]:
table=table[cols]

In [191]:
table

Book-Title,Wild Animus,The Lovely Bones: A Novel,The Da Vinci Code,Divine Secrets of the Ya-Ya Sisterhood: A Novel,The Red Tent (Bestselling Backlist),Angels &amp; Demons,A Painted House,Snow Falling on Cedars,Life of Pi,The Secret Life of Bees,...,Chicken Soup for the College Soul : Inspiring and Humorous Stories for College Students (Chicken Soup for the Soul),"House Atreides (Dune: House Trilogy, Book 1)",Legend,Pearl in the Mist (Landry),stardust,Blood Orchid,Breakfast of Champions,Cryptonomicon,"The Fires of Heaven (The Wheel of Time, Book 5)",Affinity
User-ID,,,,,,,,,,,,,,,,,,,,,
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278832,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [192]:
corr=table.corr()

In [194]:
corr# with this we would be able to make recommendations for any user that has recommended any book here

Book-Title,Wild Animus,The Lovely Bones: A Novel,The Da Vinci Code,Divine Secrets of the Ya-Ya Sisterhood: A Novel,The Red Tent (Bestselling Backlist),Angels &amp; Demons,A Painted House,Snow Falling on Cedars,Life of Pi,The Secret Life of Bees,...,Chicken Soup for the College Soul : Inspiring and Humorous Stories for College Students (Chicken Soup for the Soul),"House Atreides (Dune: House Trilogy, Book 1)",Legend,Pearl in the Mist (Landry),stardust,Blood Orchid,Breakfast of Champions,Cryptonomicon,"The Fires of Heaven (The Wheel of Time, Book 5)",Affinity
Book-Title,,,,,,,,,,,,,,,,,,,,,
Wild Animus,1.000000,0.011180,0.157998,0.066425,-1.990816e-02,0.189685,0.258960,0.189901,0.074767,0.094747,...,-0.156056,0.412242,-0.157051,-0.080293,0.243791,0.481721,0.503871,2.857713e-01,-0.025366,0.061476
The Lovely Bones: A Novel,0.011180,1.000000,0.144927,0.131992,7.411464e-02,0.179952,0.157131,0.127108,0.215503,0.201922,...,0.635864,0.649075,-0.259226,0.423515,-0.136137,-0.107709,0.051645,3.400055e-01,-0.212121,0.443591
The Da Vinci Code,0.157998,0.144927,1.000000,0.099861,9.439041e-02,0.220093,0.005012,0.142975,0.046705,0.230924,...,0.063960,0.019970,NaN,0.156539,0.414837,0.370618,-0.408248,6.034784e-01,-0.428342,-0.096744
Divine Secrets of the Ya-Ya Sisterhood: A Novel,0.066425,0.131992,0.099861,1.000000,1.526554e-01,0.172364,0.267336,0.055196,-0.041140,0.193919,...,-0.206899,0.175219,0.326259,-0.166206,-0.305614,-0.111111,-0.443533,-5.000000e-01,NaN,0.117679
The Red Tent (Bestselling Backlist),-0.019908,0.074115,0.094390,0.152655,1.000000e+00,0.032026,0.184854,0.081245,0.250522,-0.068229,...,0.213574,0.356873,0.057134,1.000000,0.697097,0.106641,-0.369958,-3.947460e-17,-0.217816,0.015207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Blood Orchid,0.481721,-0.107709,0.370618,-0.111111,1.066412e-01,0.549616,0.340956,0.106641,0.817913,-0.408248,...,-0.500000,1.000000,-0.250000,NaN,NaN,1.000000,NaN,1.000000e+00,NaN,NaN
Breakfast of Champions,0.503871,0.051645,-0.408248,-0.443533,-3.699583e-01,0.540436,1.000000,0.188532,0.246897,-0.315410,...,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
Cryptonomicon,0.285771,0.340005,0.603478,-0.500000,-3.947460e-17,0.345014,0.695608,0.504219,0.274698,NaN,...,NaN,-0.906867,NaN,NaN,NaN,1.000000,NaN,1.000000e+00,NaN,NaN
"The Fires of Heaven (The Wheel of Time, Book 5)",-0.025366,-0.212121,-0.428342,NaN,-2.178160e-01,0.494889,-0.399035,NaN,NaN,NaN,...,NaN,-0.606168,NaN,NaN,-1.000000,NaN,NaN,NaN,1.000000,NaN
Affinity,0.061476,0.443591,-0.096744,0.117679,1.520748e-02,0.087154,0.458831,0.066798,0.142617,-0.153039,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000

In [196]:
#the idea is to combine these two methods

In [203]:
#for example user 9
user=table.loc[9].dropna()

In [205]:
#user 9 has read two books and clearly hated the testament
user

Book-Title
The Testament                           0.0
Beloved (Plume Contemporary Fiction)    6.0
Name: 9, dtype: float64

In [218]:
books=list(user.index)
user9=corr[books].dropna()

In [219]:
#we must penalize the books based on user 9's ratings, lets use product/2 and then find the average between books for now
user9

Book-Title,The Testament,Beloved (Plume Contemporary Fiction)
Book-Title,,
Wild Animus,0.117587,0.374424
The Lovely Bones: A Novel,0.124467,0.025991
The Da Vinci Code,0.183343,-0.248767
Divine Secrets of the Ya-Ya Sisterhood: A Novel,-0.022068,0.100561
The Red Tent (Bestselling Backlist),0.285203,0.146288
...,...,...
"House Atreides (Dune: House Trilogy, Book 1)",0.990132,-0.246111
Legend,0.670934,-0.333333
stardust,1.000000,1.000000
Blood Orchid,0.507389,0.672983
Cryptonomicon,0.710742,1.000000

In [220]:

for i in user9.columns:
    user9[i]=(user9[i]*user[i])/2

In [221]:
user9

Book-Title,The Testament,Beloved (Plume Contemporary Fiction)
Book-Title,,
Wild Animus,0.0,1.123272
The Lovely Bones: A Novel,0.0,0.077972
The Da Vinci Code,0.0,-0.746301
Divine Secrets of the Ya-Ya Sisterhood: A Novel,-0.0,0.301682
The Red Tent (Bestselling Backlist),0.0,0.438865
...,...,...
"House Atreides (Dune: House Trilogy, Book 1)",0.0,-0.738333
Legend,0.0,-1.000000
stardust,0.0,3.000000
Blood Orchid,0.0,2.018948
Cryptonomicon,0.0,3.000000

In [233]:
ans=user9.sum(axis=1)/len(user9.columns)

In [239]:
ans=ans.sort_values(ascending=False)

In [281]:
(ans-min(ans))/(max(ans)-min(ans))

Book-Title
Black Friday                                                                                            1.000000
Before I Say Good-Bye                                                                                   1.000000
1st to Die: A Novel                                                                                     1.000000
L Is for Lawless (Kinsey Millhone Mysteries)                                                            1.000000
Skinwalkers (Joe Leaphorn/Jim Chee Novels)                                                              1.000000
                                                                                                          ...
Middlesex: A Novel                                                                                      0.168578
Sense and Sensibility                                                                                   0.000000
James and the Giant Peach                                                                               0.000000
The Devil in the White City : Murder, Magic, and Madness at the Fair That Changed America (Illinois)    0.000000
Out to Canaan (The Mitford Years)                                                                       0.000000
Length: 369, dtype: float64

In [244]:
#to check if user 9 also has similarities with any user

In [247]:
try:
    corr0[9]
except:
    print('Not a long time user')

Not a long time user

In [351]:
#Tie the recommender all up in a function
def recommend(id):
    try:
        user=table.loc[id].dropna()
        books=list(user.index)
        user9=corr[books].dropna()
        for i in user9.columns:
            user9[i]=(user9[i]*user[i])/2
        ans=user9.sum(axis=1)/len(user9.columns)
        ans=ans.sort_values(ascending=False)
        ans=((ans-min(ans))/(max(ans)-min(ans))).head(5)
    except:
        ans=pd.Series(None,dtype=float)
    return ans

In [352]:
recommend(153662)

Series([], dtype: float64)

In [353]:
#lets try a user who has rated many books

In [354]:
similar_users=corr0[238120].dropna().sort_values(ascending=False).head(5)

In [355]:
similar_users

User-ID
238120    1.000000
39646     0.811578
112026    0.595833
104665    0.533151
222296    0.493016
Name: 238120, dtype: float64

In [356]:
cols=list(similar_users.index)

In [357]:
recs=(pivot[cols].sum(axis=1)/len(cols)).sort_values(ascending=False)

In [358]:
#we must scale it down
recs= ((recs-min(recs))/(max(recs)-min(recs)))

In [359]:
recs

Book-Title
The Lovely Bones: A Novel                                                     1.00000
A Time to Kill                                                                0.84375
She's Come Undone (Oprah's Book Club (Paperback))                             0.75000
While I Was Gone                                                              0.43750
Secret History                                                                0.31250
                                                                               ...
Hocus Pocus                                                                   0.00000
Hitler's Secret Bankers: The Myth of Swiss Neutrality During the Holocaust    0.00000
Hitchhikers's Guide to the Galaxy                                             0.00000
History of Croatia                                                            0.00000
stardust                                                                      0.00000
Length: 2228, dtype: float64

In [360]:
#tieing up
def recs(id):
    try:
        similar_users=corr0[id].dropna().sort_values(ascending=False).head(5)
        cols=list(similar_users.index)
        recs=(pivot[cols].sum(axis=1)/len(cols)).sort_values(ascending=False)
        recs= ((recs-min(recs))/(max(recs)-min(recs))).head()
    except:
        recs=pd.Series(None,dtype=float)
    return recs

In [361]:
recs(1)

Series([], dtype: float64)

In [362]:
#putting them all together
def final(id):
    users=recs(id)
    ratings=recommend(id)
    users=pd.DataFrame(users)
    ratings=pd.DataFrame(ratings)
    tot=pd.concat([ratings,users],axis=0)
    return tot[0].sort_values(ascending=False)

In [364]:
final(11676)

The Da Vinci Code                                     1.000000
Nights in Rodanthe                                    1.000000
Ellen Foster                                          0.896552
The Lovely Bones: A Novel                             0.862069
Where the Heart Is (Oprah's Book Club (Paperback))    0.689655
Name: 0, dtype: float64